$code-color: #a22008;
$table-cell-background: #f0ede7;
$table-border: #c4c2c2;

$mark-color: #ffe375;

$post-color: #555;
$blockquote-color: #f9eee4;
$blockquote-side-color: #fbcf95;

$detail-background: #eee;
$summary-background: var(--light-bg);

.post-type {
  color: $post-color;
  font-family: $serif-font;

  h2 {
    font-size: 1.3rem;
  }

  :not(pre) > code {
    margin: 2px;
    padding: 2px;
    color: $code-color;
    font-size: 0.9rem;
    &:before {
      content: "`";
    }
    &:after {
      content: "`";
    }
  }

  p {
    //text-indent: 2em;
    line-height: 1.5;
    // margin: 1rem 0;
    margin: 0.6rem 0;
    font-size: 16px;
  }

  ul {
    padding-left: 20px;

    li {
      list-style-type: square;
      p {
        text-indent: 0;
        margin: 0 0;
      }
    }
  }

  ol {
    padding-left: 20px;

    li {
      list-style-type: decimal;
    }
  }

  pre {
    padding: 10px 20px;
    overflow: auto;
    font-size: 15px;
    border: 1px dashed var(--dark-color);
    position: relative;
  }

  table {
    margin: 10px auto;
    border-collapse: collapse;
    border: 1px solid $table-border;
    font-size: 0.9rem;
  }

  /*th {
    background: $table-background;
  }*/

  tbody tr:nth-child(odd) {
    background: $table-cell-background;
  }

  th,
  td {
    border: 1px solid $table-border;
    overflow: visible;
    padding: 10px;
  }

  blockquote {
    background: $blockquote-color;
    margin: 16px 0;
    padding: 8px 32px;
    border-left: 8px solid $blockquote-side-color;
  }

  a {
    color: #2f7c88;
    text-decoration: underline;

    code {
      background: transparent;
      color: $code-color;
    }
  }

  mark {
    box-shadow: 0 -10px 0 $mark-color inset;
    background: transparent;
  }

  img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
  }

  details {
    background: $detail-background;
    // border: 1px solid $summary-background;

    summary {
      cursor: pointer;
      padding: 5px;
      color: $post-color;
      background: $summary-background;
    }
    > div {
      padding: 10px;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    &::before {
      content: "# ";
      color: var(--second-color);
    }
    code {
      background: inherit;
    }
  }

  .reference {
    padding: 10px 20px;
    border: 1px dashed var(--second-color);
    margin-top: 50px;
    font-size: 0.9rem;

    &-title {
      font-weight: bold;
    }

    svg {
      position: relative;
      bottom: -6px;
      margin-right: 5px;
      color: var(--second-color);
    }
  }

  figcaption {
    text-align: center;
    font-family: $serif-font;
    font-size: 0.9rem;
    font-style: italic;
  }

  hr {
    color: var(--light-bg);
  }
}
