// $main-padding: 16px;
$main-width: 800px;
// $sidebar-width: 220px;
// $container-width: $main-width + $sidebar-width + 4 * $main-padding;
$side-width: 100px;
$container-width: $main-width + 2* $side-width;
$footer-height: 70px;
$nav-height:56px;

$bubble-width:200px;

$breakpoint-md: $container-width;
$breakpoint-bubble: $container-width + ($bubble-width - 20) * 2;

$girassol-font: "girassol", "猫啃网风雅宋", FZYaoti, STFangsong, "Noto Sans SC";
$sans-font: "Source Han Sans SC", "Source Han Sans CN", "noto sans",  "Microsoft YaHei", "Wenquanyi Micro Hei", STHeiti, SimHei, sans;
$serif-font: "Source Han Serif SC", "Source Han Serif CN", "WenQuanYi Bitmap Song";
$default-serif-font:"Times New Roman";
$mono-font:"Fira Code","ubuntu mono","Source Code Pro","Courier New";

@font-face{
  font-family: "girassol";
  src:url("/Girassol-Regular.ttf") format("truetype")
}