:root {
  --primary-color: #4869cf;
  --second-color: #e8aa7f;
  --plant-color: #61a8a2;
  --dark-color: #8f808c;
  --light-white: #f5f5f5;
  --light-bg: #e1e1e1;
  --light-grey: #cccccc;
  --dark-grey: #5e5e5e;
}

@import "_varible";
@import "_type.scss";

body {
  margin: 0;
  color: var(--dark-grey);
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
::selection {
  background-color: var(--plant-color);
  color: #fff;
}
code {
  font-family: $mono-font;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15.875 15.875' height='60' width='60'%3E%3Cpath d='M0 0v15.875M7.938 0v15.875M15.875 0v15.875M0 0h15.875M0 7.938h15.875M0 15.875h15.875' fill='none' stroke='%23ccc' stroke-width='.265'/%3E%3C/svg%3E");
}
.grass {
  position: fixed;
  width: 100vw;
  height: 200px;
  bottom: 0;
  background-position: bottom left;
  background-repeat: repeat-x;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 290.333 123.588'%3E%3Cpath fill='%235fa7a1' d='M283.13 0c-30.81 44.977-31.53 84.428-30.668 123.588h37.87C278.463 85.208 271.323 45.42 283.13 0zM102.456 3.742c1.847 39.672-3.147 88.43-10.744 117.16-2.35-26.054-33.41-75.252-70.239-97.115 12.499 30.93 38.122 67.966 42.389 99.8h43.81c3.424-61.183 3.6-84.248-5.216-119.845zM216.847 19.51c-33.654 14.14-66.33 67.492-70.666 104.013-3.723-23.608 10.044-76.088 6.98-99.74-10.07 22.92-18.858 58.068-23.885 78.949-1.346-24.402.118-35.397 8.663-74.402-16.954 37.492-20.971 66.341-20.111 95.257h50.88c6.495-31.095 22.685-67.802 48.139-104.077zM0 33.441c19.711 29.72 37.777 59.53 40.911 90.147H62.7C49.93 94.52 30.64 61.672 0 33.44zm224.33 7.719c-14.183 9.602-27.304 34.608-38.851 82.428h15.672c-.003-15.994-3.31-39.083 23.18-82.428zm22.718 3.742c-8.878 25.962-6.292 57.915-7.249 78.686h10.817c-5.353-24.948-5.127-51.612-3.568-78.686zm-4.276 2.405c-10.304 24.23-16.238 50.5-16.04 76.28H239.2c-1.812-18.907-4.31-42.015 3.573-76.28zM6.236 70.104c7.971 16.783 14.277 36.779 15.68 53.484H34.95C28.28 106.52 19.82 86.386 6.236 70.104z'/%3E%3C/svg%3E");
}

/* ------------------------------------ 猫 ----------------------------------- */
.cat {
  $padding: 48px;
  position: fixed;
  bottom: 0;  
  pointer-events: none;
  .bigcat {
    position: fixed;
    bottom: 0;
    fill: var(--dark-color);
    max-width: 150px;
    max-height: 250px;
    transform: translateX(-150px + $side-width - $padding);
  }

  .bubble > * {
    $bubble-bg: var(--light-white);
    $bubble-border: var(--light-grey);
    $bubble-padding: 16px;
    pointer-events: auto;
    position: relative;
    bottom: 250px;
    width: $bubble-width;
    border: 2px solid $bubble-border;
    left: -$bubble-width - 2 * $bubble-padding + $side-width - $padding;
    background-color: $bubble-bg;
    border-radius: 5px;
    padding: $bubble-padding;
    &::before {
      content: "";
      width: 0;
      height: 0;
      border: 20px solid;
      position: absolute;
      bottom: -40px;
      right: 10%;
      border-color: $bubble-border transparent transparent;
    }
    &::after {
      content: "";
      width: 0;
      height: 0;
      border: 20px solid;
      position: absolute;
      bottom: -38px;
      right: 10%;
      border-color: $bubble-bg transparent transparent;
    }
  }
}

/* --------------------------------- Headers -------------------------------- */

.moblie-header {
  display: none;
}

.top-nav {
  padding: 16px 30px 16px 30px;
  display: flex;
  height: $nav-height;
  align-items: center;
  justify-content: space-between;

  .title {
    color: var(--primary-color);
    font-family: $girassol-font;
    font-size: 2.5rem;
    font-weight: 450;
    align-items: center;
    display: flex;

    .website-icon {
      width: 56px;
      margin-right: 10px;
    }
  }

  .navs {
    ul {
      display: flex;
      margin: 0;
    }
    ol {
      margin: 0;
      padding: 0;
    }
    ol:hover {
      &:nth-of-type(4n + 1) .side-button {
        background: var(--primary-color);
      }
      &:nth-of-type(4n + 2) .side-button {
        background: var(--second-color);
      }
      &:nth-of-type(4n + 3) .side-button {
        background: var(--plant-color);
      }
      &:nth-of-type(4n) .side-button {
        background: var(--dark-color);
      }
      svg {
        stroke: #fff;
      }
    }
  }

  .side-button {
    $buttonR: 18px;
    width: $buttonR * 2;
    height: $buttonR * 2;
    border-radius: $buttonR;
    display: inline-block;
    align-items: center;
    // color: #fff;
    border: none;
    padding: 0;
    cursor: pointer;
    margin: 5px;
    transition: 0.3s;

    svg {
      height: 20px;
      stroke: var(--dark-color);
      width: 20px;
      padding: $buttonR - (20px / 2);
      background: transparent;
    }
  }

  .tip {
    display: none;
    color: var(--dark-color);
    font-family: $sans-font;
  }
}

/* ---------------------------------- 封面图片 ---------------------------------- */
.cover-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* ----------------------------------- TOC ---------------------------------- */

.toc {
  margin: 0;
  color: var(--dark-color);
  font-family: $serif-font;
  li {
    padding: 3px;

    ul {
      padding-left: 10px;
    }
  }

  .active {
    color: var(--plant-color);
    font-weight: bold;
  }

  a:hover {
    font-weight: bold;
    transition: color 0.3s;
  }
}

.wrapper {
  margin-left: calc(100vw - 100%);
}
.container {
  width: $container-width;
  background: var(--light-white);
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}

.main {
  // padding-top: $main-padding;
  // padding-left: calc(50% - #{$main-width / 2});
  margin: 0 auto;
  padding-bottom: $footer-height;
  width: $main-width;
  background: var(--light-white);
  position: relative;
  min-height: calc(100vh - #{72px + $footer-height + 16px});
}

.footer {
  color: var(--dark-grey);
  height: $footer-height;
  text-align: center;
  font-family: $sans-font;
  font-size: 0.9rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  a {
    color: var(--second-color);
  }
  p {
    margin: 5px;
    width: 100%;
  }
}

/* --------------------------------- 外面看博文简介 -------------------------------- */
.post {
  width: 100%;
  margin: 32px 0;

  &-side {
    width: 100%;
  }

  &-title {
    // text-align: center;
    color: var(--dark-grey);
    transition: color 0.3s;
    margin: 16px 0;
    position: relative;
    width: 100%;
    font-size: 1.4rem;
    font-family: $serif-font;
    &::after {
      content: "";
      background: var(--second-color);
      display: block;
      width: 10%;
      height: 0.3rem;
      position: relative;
      // left: 50%;
      // transform: translateX(-50%);
      transition: width 0.3s;
    }
    &:hover {
      color: var(--primary-color);
      &::after {
        width: 20%;
      }
    }
  }
  &-info {
    display: flex;
    position: relative;
    align-items: baseline;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 8px;
    // justify-content: center;
    > * {
      padding-right: 10px;
      font-size: 0.9rem;
    }
  }
  &-date {
    color: var(--dark-color);
    svg {
      height: 0.9rem;
      width: 0.9rem;
      position: relative;
      stroke: var(--dark-color);
      top: 2.5px;
      margin-right: 5px;
    }
  }
  &-category {
    color: var(--dark-color);
    transition-duration: 0.3s;

    &:hover {
      color: var(--plant-color);
      text-decoration: underline;
    }
    &::before {
      content: "◇ ";
    }
  }
  &-tag {
    color: var(--dark-color);
    // transition-property: border, color;
    transition-duration: 0.3s;
    display: inline-block;
    &:hover {
      color: var(--plant-color);
      text-decoration: underline;
    }
    &::before {
      content: "# ";
    }
  }

  // 头图
 &-cover {
    text-align: center;
    padding: 0px 20px 0px 0px;

    img {
      height: 120px;
      width: 220px;
      border-radius: 10px;
      object-fit: cover;
    }
  }

  &-content {
    display: flex;

    p {
      margin: 0;
    }
  }

  &-type {
    flex-grow: 1;

    p {
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      display: -webkit-box;
      overflow: hidden;
    }
  }
}

/* 图片在上文字在下的版本*/
/* .post-content-2 {
  display: flex;
  flex-direction: column;
  .post-cover {
    margin-bottom: 24px;
    img {
      width: 100%;
      border-radius: 10px;
    }
  }
} */

.more-post {
  margin-top: 1rem;
  text-align: center;
}

/* ---------------------------------- 博文详情 ---------------------------------- */
.blog {
  .post-info {
    margin-bottom: 40px;
  }
}

.post-cover-inside img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-bottom: 24px;
}

/* ----------------------------------- 分页 ----------------------------------- */

.pagination {
  display: flex;
  justify-content: center;

  li {
    margin: 5px;
  }

  a {
    padding: 10px;
    border-radius: 18px;
    display: inline-block;
    color: var(--dark-grey);
    width: 18px;
    height: 18px;
    text-align: center;
    &:hover {
      background: var(--plant-color);
      color: #fff;
    }
  }
  &-current {
    // border-bottom: 3px solid var(--primary-color);
    a {
      color: #fff;
      background-color: var(--second-color);
    }
  }
}

/* ----------------------------------- 归档 ----------------------------------- */
.archives {
  font-family: $serif-font;
  .line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .post-date {
      font-size: 1rem;
    }
  }
  .card {
    padding: 5px 10px;
    border: none;
    border-bottom: 1.2px dashed var(--light-grey);
    &:hover {
      border-style: none;
      border-bottom: 1.2px dashed var(--primary-color);
      .title,
      .post-date {
        color: var(--primary-color);
      }
    }
  }
}
.card {
  border: 1px dashed var(--light-grey);
  padding: 15px;

  &:hover {
    border-style: solid;
  }

  .title {
    margin: 0;
    color: var(--dark-grey);

    nav a {
      &:hover {
        color: var(--primary-color);
        &::before {
          content: "";
          display: inline-block;
          height: 16px;
          width: 5px;
          background: var(--second-color);
          margin-right: 5px;
        }
      }
    }
  }
}

.lazyload {
  background: var(--light-grey);
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px 20px;

  .card {
    align-content: end;
    display: inline-grid;
  }
  &-cover {
    width: 100%;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }
  &-title {
    margin: 10px 0;
    color: var(--dark-color);

    &:hover {
      color: var(--primary-color);
    }
  }
  &-description {
    color: var(--dark-grey);
  }
  .title {
    font-family: $default-serif-font;
  }
}
.fab {
  $w: 40px;
  width: $w;
  height: $w;
  background: var(--dark-color);
  position: fixed;
  right: 30px;
  bottom: 40px;
  border-radius: $w / 2;
  z-index: 999;

  svg {
    stroke: #fff;
    width: $w;
    height: $w;
    position: relative;
    transition: top 0.3s;
    top: 0;
  }
  &:hover {
    background: var(--primary-color);
    cursor: pointer;

    svg {
      top: -5px;
    }
  }
}

.categories {
  display: flex;
  flex-wrap: wrap;
  .post-category {
    font-size: 1rem;
    // margin-bottom: 20px;
    padding: 10px;
  }
  .post-tag {
    font-size: 1rem;
    // margin-bottom: 20px;
    padding: 10px;
    line-height: 23px;
  }
}

.search {
  &-bar {
    position: relative;
    padding: 0 20px;
    input {
      width: calc(100% - 85px);
      height: 2rem;
      background: transparent;
      border: 2px dashed var(--dark-color);
      padding: 5px 10px 5px 40px;
      margin: 0 auto;
      display: block;
      font-size: 1rem;
      color: var(--dark-grey);
      &:focus {
        border: 2px solid var(--dark-color);
      }
    }

    svg {
      position: absolute;
      top: 50%;
      left: 45px;
      transform: translateY(-50%);
      color: var(--dark-color);
    }
  }

  &-results {
    &__item {
      border: 1px dashed var(--light-grey);
      padding: 15px;
      margin: 10px;
      color: var(--dark-grey);
      &:hover {
        border-style: solid;
      }

      b {
        background: #f0c8af;
      }
    }
  }
}

#comment {
  min-height: 232px;
  width: 760px;
  border: 1px dashed var(--dark-color);
  margin: 0 auto;
}

.comment-placeholder {
  line-height: 232px;
  font-family: $serif-font;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  svg {
    position: relative;
    bottom: -5px;
    margin-right: 10px;
  }
}

.not-found-wrapper {
  display: grid;
  flex-direction: column;
  align-content: center;
  height: calc(100vh - #{72px + $footer-height + 16px});
  position: relative;
}

.not-found {
  // margin: 40px auto;
  text-align: center;
  color: var(--dark-color);

  svg {
    width: 30%;
    fill: var(--dark-color);
  }
}

.copy {
  border: none;
  background: transparent;
  position: absolute;
  z-index: 500;
  right: 10px;
  margin: 10px 0;
  color: var(--light-grey);
  cursor: pointer;
  &:hover {
    color: var(--dark-color);
  }
}

/* ----------------------------------- 移动版 ---------------------------------- */

@media screen and (max-width: $breakpoint-md) {
  $header-height: 40px;
  $padding: 20px;

  .wrapper {
    margin: 0;
  }
  .container {
    width: auto;
    padding: 0;
    min-height: 100vh;
  }

  .moblie-header {
    // position: relative;
    display: block;
    z-index: 999;
    height: $header-height;
    width: 100%;
    background: var(--light-white);

    &.fixed {
      position: fixed;
      width: 100%;
      box-shadow: 1px 1px 3px var(--light-grey);
      left: 0;
      top: 0;
    }

    .moblie-title {
      width: 100%;
      text-align: center;
      line-height: $header-height;
      font-size: 1.2rem;
      font-family: $girassol-font;
    }

    .burger {
      border: none;
      z-index: 900;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      margin: 10px;
      background: transparent;

      svg {
        width: 24px;
        height: 24px;
        stroke: var(--dark-color);
      }
    }
  }

  .top-nav {
    z-index: 900;
    width: calc(100% - 60px);
    display: none;
    height: 100vh;
    position: fixed;
    background: var(--light-white);
    top: 0;

    &.active {
      display: flex;
    }
    .title {
      display: none;
    }
    .navs {
      top: 40px;
      //width:100%;
      position: absolute;
      ul {
        display: block;
      }
    }
    .side-button {
      display: flex;
      width: auto;
      padding: 0 18px;
      &:hover {
        .tip {
          color: #fff;
        }
      }
    }
    .tip {
      display: block;
      margin-right: 8px;
    }
  }

  .footer {
    width: 90%;
  }

  .cat {
    display: none;
  }

  .main {
    margin: 0;
    padding: 0 $padding ($padding + 76px) $padding;
    width: calc(100% - #{2 * $padding});
    min-height: calc(100vh - #{$padding + $footer-height});
  }

  .post {
    display: block;

    .post-cover img {
      max-height: 200px;
      width: 80%;
    }

    .post-cover {
      padding: 0;
    }

    .post-content {
      display: flex;
      flex-direction: column;
    }
  }

  .archives,
  .project {
    grid-template-columns: 1fr;
  }

  #comment {
    min-height: 232px;
    width: 100%;
    border: 1px dashed var(--dark-color);
    margin: 0 auto;
  }
}

@media screen and (max-width: $breakpoint-bubble) {
  .bubble {
    display: none;
  }
}

/* .side-taxonomy {
  margin-top: 15px;
} 

.side-taxonomy-item {
  padding: 4px;
  margin: 4px;
  border: 1px dashed var(--dark-color);
  display: inline-block;
  line-height: 24px;
  transition-property: border, color;
  transition-duration: 0.3s;
  font-family: $default-serif-font;
  color: var(--dark-color);
  &:hover {
    border: 1px solid var(--plant-color);
    color: var(--plant-color);
  }
}*/

/* --------------------------------- HELPER --------------------------------- */
.retro-btn {
  $color: var(--dark-color);
  position: relative;
  padding: 8px 16px;
  display: inline-block;
  // background: var(--light-white);
  color: $color;
  &:hover {
    color: var(--plant-color);
    text-decoration: underline;
  }
}

.divider {
  height: 1px;
  background: var(--light-grey);
  margin: 30px 20px;
}

.no-shadow {
  box-shadow: none !important;
}

.index-module {
  margin: 24px 0;
}

.tips {
  padding: 16px;
  display: flex;
  margin: 8px 0;
  svg {
    margin-right: 8px;
  }
  &.tips-info {
    background: #deeef4;
    color: #274a8e;
  }
  &.tips-warning {
    background: #f9eee4;
    color: #ac4e2a;
  }
}
