{% import "partial/project_card.html" as macros %}
{% extends "base.html" %}
{% block title %}
    {{ page.title }} | {{ config.title }}
{% endblock title %}
{% block content %}
    <h2 class="post-title">
        {{ page.title }}
    </h2>
    <div class="project">
        {% set data = load_data(path="content/projects/data.toml") %}
        {% if data.projects %}
            {% for item in data.projects %}
                {{ macros::project_card(item=item) }}
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}