{% import "partial/post.html" as macros %}
{% extends "base.html" %}
{% block title %}
    {{ config.title }}
{% endblock title %}
{% block content %}
    <!-- 博文列表 -->
    {% for page in paginator.pages %}
       {{ macros::post_detail_list(page=page) }}
    {% endfor %}

    <!-- 翻页 -->
    <ul class="pagination">
        {% for page in range(end=paginator.number_pagers) %}
            {% if paginator.current_index == loop.index %}
                <li class="pagination-current">
                {% else %}
                    <li>
                    {% endif %}
                    <a href="{{ paginator.base_url }}{{ loop.index }}">{{ loop.index }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endblock content %}