<!-- 简易博文列表 -->
{% macro post_list(title,permalink,date) %}
    <li class="line card">
        <span class="title">
            <a href="{{ permalink }}">{{ title }}</a>
        </span>
        <div class="post-date">{{ date|date(format="%Y-%m-%d") }}</div>
    </li>
{% endmacro post_list %}

<!-- 带简介的博文列表 -->
{% macro post_detail_list(page) %}
    <div class="post">
      <h3 class="post-title">
        <a href="{{ page.permalink }}">{{ page.title }}</a>
      </h3>

      <div class="post-info">        
        <div class="post-date"><i data-feather="clock"></i>{{ page.date | date(format="%Y-%m-%d") }}</div>
        {% if page.taxonomies.categories %}
          {% for category in page.taxonomies.categories %}
            {% set cate_url = get_taxonomy_url(kind="categories", name=category, lang=page.lang) %}
            <a class="post-category" href="{{ cate_url }}">{{ category }}</a>
          {% endfor %}
        {% endif %}
        {% if page.taxonomies.tags %}
          {% for tag in page.taxonomies.tags %}
            {% set tag_url = get_taxonomy_url(kind="tags", name=tag, lang=page.lang) %}
            <a class="post-tag" href="{{ tag_url }}">{{ tag }}</a>
          {% endfor %}
        {% endif %}
      </div>
     
      <div class="post-content">
        {% if page.extra.cover %}
          {% if page.extra.cover is starting_with("http") %}
            <div class="post-cover"><img class="lazyload" data-src="{{ page.extra.cover }}"/>
            </div>
          {% else %}
            <div class="post-cover"><img class="lazyload" data-src="{{ page.permalink }}{{ page.extra.cover }}"/>
            </div>
          {% endif %}
        {% endif %}
        <div class="post-type">
          {% if  page.description %}
            <p>{{ page.description }}</p>
          {% else %}
            {{ page.summary|safe }}
          {% endif %}
        </div>
      </div>
    </div>
{% endmacro post_detail_list %}